
.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}


.is-flex .box {
  background: none;
  position: static;
}
.is-flex [class*="col-"] {
  background: #fff;
}

.whiteframedemoDirectiveAttributeUsage {
  /* For breakpoint `-xs` */
  /* For breakpoint `-sm` */
  /* For breakpoint `-md` */
  /* For breakpoint `-gt-md` */ }
  .whiteframedemoDirectiveAttributeUsage md-whiteframe, .whiteframedemoDirectiveAttributeUsage div.padded {
    background: #fff;
    margin: 30px;
    height: 100px; }
  @media (max-width: 599px) {
    .whiteframedemoDirectiveAttributeUsage md-whiteframe, .whiteframedemoDirectiveAttributeUsage div.padded {
      margin: 7px;
      height: 50px;
      background-color: #c8e4fa; }
    .whiteframedemoDirectiveAttributeUsage md-whiteframe > span, .whiteframedemoDirectiveAttributeUsage div.padded > span {
      font-size: 0.4em; } }
  @media (min-width: 600px) and (max-width: 959px) {
    .whiteframedemoDirectiveAttributeUsage md-whiteframe, .whiteframedemoDirectiveAttributeUsage div.padded {
      margin: 20px;
      height: 75px; }
    .whiteframedemoDirectiveAttributeUsage md-whiteframe > span, .whiteframedemoDirectiveAttributeUsage div.padded > span {
      font-size: 0.6em; } }
  @media (min-width: 960px) and (max-width: 1279px) {
    .whiteframedemoDirectiveAttributeUsage md-whiteframe, .whiteframedemoDirectiveAttributeUsage div.padded {
      margin: 20px;
      height: 90px;
      background-color: #fcddde; }
    .whiteframedemoDirectiveAttributeUsage md-whiteframe > span, .whiteframedemoDirectiveAttributeUsage div.padded > span {
      font-size: 0.9em; } }
  @media (min-width: 1280px) {
    .whiteframedemoDirectiveAttributeUsage md-whiteframe, .whiteframedemoDirectiveAttributeUsage div.padded {
      margin: 25px;
      height: 100px;
      background-color: #F2FCE2; }
    .whiteframedemoDirectiveAttributeUsage md-whiteframe > span, .whiteframedemoDirectiveAttributeUsage div.padded > span {
      font-size: 1.0em; } }


.panel-title-big {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.panel-primary > .panel-heading + .panel-collapse .panel-body {
  border-top-color: transparent;
}

.panel-darkgray {
    border-color: #19AABF;
}

.panel-darkgray > .panel-heading {
    
    background-color: #19AABF;
    border-color: #19AABF;
    font-size: 35px;
}

.panel-purple {
    border-color: #DBAFE8;
}

.panel-purple > .panel-heading {
    color: #fff;
    background-color: #DBAFE8;
    border-color: #DBAFE8;
}

.panel-magenta {
    border-color: #F4B5D2;
}

.panel-magenta > .panel-heading {
    color: #fff;
    background-color: #F4B5D2;
    border-color: #F4B5D2;
}

.panel-ligth-green {
    border-color: #DFFAB9;
}

.panel-ligth-green > .panel-heading {
    color: #fff;
    background-color: #DFFAB9;
    border-color: #DFFAB9;
}

.panel-ligth-yellow {
    border-color: #F9FEBD;
}

.panel-ligth-yellow > .panel-heading {
    color: #fff;
    background-color: #F9FEBD;
    border-color: #F9FEBD;
}



.panel-red {
    border-color: #C9302C;
}

.panel-red > .panel-heading {
    color: #fff;
    background-color: #C9302C;
    border-color: #C9302C;
}

.panel-orange {
    border-color: #EC971F;
}

.panel-orange > .panel-heading {
    color: #fff;
    background-color: #EC971F;
    border-color: #EC971F;
}

.panel-pink {
    border-color: #E238EC;
}

.panel-pink > .panel-heading {
    color: #fff;
    background-color: #E238EC;
    border-color: #E238EC;
}

.panel-blue {
    border-color: #4682B4;
}

.panel-blue > .panel-heading {
    color: #fff;
    background-color: #4682B4;
    border-color: #4682B4;
}

.panel-green {
    border-color: #449D44;
}

.panel-green > .panel-heading {
    color: #fff;
    background-color: #449D44;
    border-color: #449D44;
}



.badge-red {
    background-color: #C9302C;
}

.badge-pink {
    background-color: #E238EC;
}

.badge-orange {
    background-color: #EC971F;
}

.badge-blue {
    background-color: #4682B4;
}

.badge-green {
    background-color: #449D44;
}


@import "compass/css3";

.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
  
  .star {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;

    &.filled {
      color: #fd0;
    }
  }

  &.readonly .star.filled {
    color: #666;
  }
}

.rating .filled {
color: #21568b;
}



.red {
  color: red;
}
.green {
  color: red;
}
.glyphicon-star-empty {
    color: blanchedalmond;
}
.glyphicon-star {
    color: #FFDD00;
    -webkit-text-stroke-width: 2px;
    /*-webkit-text-stroke-color: #FF7700;*/
}
.glyphicon-star-red {
    color: #FFDD00;
    -webkit-text-stroke-width: 2px;
    /*-webkit-text-stroke-color: #FF7700;*/
}
.isReadonly {
    .glyphicon-star-empty {
        color: #000000;
    }
    .glyphicon-star-empty {
        color: #DCDCDC;
        -webkit-text-stroke-width: 2px;
        /*-webkit-text-stroke-color: #000000;*/
    }
}

.glyphicon-shadow-big {
  text-shadow: 2px 2px 4px #000000;
  font-size: 25px;
}

.glyphicon-red {
 color:red;
}
.glyphicon-pink {
 color:pink;
}

.message-error {
  display: block;
  font-size: 12px;
  color: #A94442;
  margin-bottom: 0px;
  margin-top: 5px;
}

.cursor-pinter {
  cursor:pointer;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.navbar-default {
    background-color: #EEEEEE;
    border-bottom: 6px solid #19AABF;
}

.btn-danger {
    color: #fff;
    background-color: #EA291C;
    border-color: #EA291C;
}

.btn-info {
    color: #fff;
    background-color: #19AABF;
    border-color: #19AABF;
}

.footer {
  background-color: #EEEEEE;
  padding-top: 20px;
  margin-top: 40px;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
    }
  }
@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
    }
  }
@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
    }
}

.panel-group .panel-heading {
    border-bottom: 0;
    height: 50px;
}

.margin-right {
    margin-right: 20px;
}

.panel-legend {
  background-color: #EEEEEE;
  border:  1px solid #999;
}

.label-legend {
  display: inline-block;
  width: 139px;
}

/* CSS used here will be applied after bootstrap.css */

.list-group-item {
    display: list-item;
}