<div class="container container-padding">

	<p class="text-center"><img width="300" class="img-center" src="images/logoItilizate.png" alt="Itilízate"></p>
	
	<h3>¿Quiénes somos?</h3>

	<div style="margin-top: 25px;">
		<p>Esta aplicación ha sido realizada como objeto de un Trabajo Fin de Grado para la <a href="http://www.unir.net/" target="_blank">UNIR</a> y está inspirada en la metodología ITIL.</p>

		<p>La aplicación es la forma elegida de plasmar el resultado de una investifación sobre los procesos de Itil, sus procedimentos, sus responsabilidades y su aplicación en la vida real.</p>

		<p>El proyecto Itilízate nace con el único fin de poder ayudar, mejorar y facilitar la aplicación de las recomendacione Itil en casos reales.</p>
	</div>

	<div style="margin-top: 25px;">
		<p>Para cualquier duda o consulta pueden ponerse en contacto a través del correo elecctrónico <a href="mailto:jazvall@hotmail.com">jazvall@hotmail.com</a></p>
	</div>

</div>