 
 <div class="row">
	 <div class="jumbotron text-center"  style="padding-top: 100px">
		<img class="img-center" src="images/logoItilizate.png" alt=""/>
	    <h3>¡Aplica la metodología ITIL en tu empresa con un solo click!</h3> 
	    <a href="#!process" class="btn btn-danger btn-lg" role="button" style="margin-top:48px">¡Comenzamos!</a>
	</div>
</div>

<div class="container">
	<div class="row">
	    <div class="col-sm-6">
	      <h3>Qué es ITILízate</h3>
	      <p>Está ampliamente demostrado que seguir las recomendaciones de ITIL ayudan a mejorar la calidad de los servicios, a reducir los costes de ofrecer estos servicios y a alinear los servicios TI con los objetivos de negocio.</p>
	      <p>Pero siguiendo la teoría ITIL, para implantar estas recomendaciones es necesario un cambio importante en la filosofía y organización de la empresa, en algún caso  incluso es necesaria una transformación organizativa radical.</p>
	      <p>Nuestra experiencia nos muestra una realidad muy diferente, ya que ITIL no deja de ser unas muy buenas recomendaciones y como tal debemos tomarlas. Si lo importante para mejorar la calidad de los servicios es hacer las tareas que define ITIL y en la secuencia correcta ¿Por qué vas a tener que crear e identificar un nuevo proceso que no necesitas?</p>
	      <p>Para ayudar a conseguir esto nace ITILízate, esta herramienta pretende facilitar a las organizaciones poder seguir las recomendaciones de ITIL usando los procesos ya instaurados en su propia organización, sin necesidad de hacer una transformación radical de la organización.</p>
	      <p>Esto permite que no sea necesario modificar los procesos ya existentes, ni crear nuevos procesos o desdoblar procesos que se usan de manera unificada y eficiente en una organización.</p>
	      <p>Aunque no lo creas, hacer las cosas mucho mejor suele estar al alcance de la mano y de manera mucho más sencilla de lo esperado.</p>
	    </div>
	    <div class="col-sm-6">
	      <h3>Cómo funciona ITILízate</h3>
	      <p>Utilizar ITIlízate es algo sencillo e intuitivo, y seguir las recomendaciones de ITIL nunca estuvo más cerca de un click de ratón como ahora mismo.</p>
	      <p>ITILízate se centra en los tres flujos de actividad principales de cualquier departamentos TI:</p>
	      <ul>
	      	<li>Nuevo servicio</li>
	      	<li>Cambios del servicio</li>
	      	<li>Restauración del servicio</li>
	      </ul>
	      <p>ITILízate es tan sencillo como seleccionar los procesos que realmente tienes implementados en tu organización, el grado de madurez que tienes en cada uno de estos procesos y seleccionar el flujo de actividad que te interesa generar.</p>
	      <p>¡Con esto ya habrás hecho toda tu parte¡ Ya solo falta que ITILízate trabaje, analizará los datos introducidos y te generará la secuencia de tareas correcta y el proceso responsable de su ejecución, para el flujo de actividad seleccionado.</p>
	      <p>Sencillo ¿verdad? Pues adelante, mejorar la calidad de los servicios empieza en ITIlízate.</p>
	    </div>
	 </div>
	 
 </div>


